<section>
  <div class="page-header">
    <h1>Champions</h1>
  </div>
    <div class="row" ng-repeat="champion in vm.champions"  ng-if="($index+1) % 4 == 0" >
    <a ng-repeat="champion in vm.champions" ui-sref="champions.view({ championId: champion._id })" class="col-md-3">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="champion.created | date:'mediumDate'"></span>
        by
        <span ng-if="champion.user" ng-bind="champion.user.displayName"></span>
      </small>
      <img ng-src="/modules/champions/client//img/rt435.jpg" height="150" width="90">
      <h4 class="list-group-item-heading" ng-bind="champion.name"></h4>
      <h4 class="list-group-item-Price" ng-bind="champion.price"></h4>
    </a>
    </div>
</section>
